.root{
    background-color: white;
}

header h1 {
    background-color: teal;
    color: white;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#CitySearch {
    display: flex;
    height: 80vh;
}

#CitySearch input {
    height: 4vh;
    border-radius: 5px;
}

#CitySearch button {
    height: 4vh;
    text-align: center;
    border-radius: 10px;
}

#CurrentDay {
    margin: 3vh;
    margin-left: 1vh;
    padding: 10px;
    height: 35vh;
}

#FiveDay {
    margin: 3vh;
    margin-left: 1vh;
    padding: 10px;
    height: 36vh;
}

#FiveDayInner{
    height: 30vh;
}